/Team1_Db/TestApp/dist/
/Team1_Db/TestApp/build/
/Integrated Project/Gauteng MMS/dist/
/Integrated Project/Gauteng MMS/build/
/Reports/Reports_Excel/dist/
/Reports/Reports_Excel/build/
/Reports/Reports_Excel/Reports/
/Reports/Reports_PDF/dist/
/Reports/Reports_PDF/build/
/Reports/Reports_PDF/Reports/
/Reports/Reports_Excel_Daily/dist/
/Reports/Reports_Excel_Daily/build/
/Reports/Reports_Excel_Daily/Reports/
/Reports/Reports_Excel_Monthly/dist/
/Reports/Reports_Excel_Monthly/build/
/Reports/Reports_Excel_Monthly/Reports/
/Reports/Reports_Excel_Weekly/dist/
/Reports/Reports_Excel_Weekly/build/
/Reports/Reports_Excel_Weekly/Reports/
/Reports/Reports_PDF_Daily/dist/
/Reports/Reports_PDF_Daily/build/
/Reports/Reports_PDF_Daily/Reports/
/Reports/Reports_PDF_Monthly/dist/
/Reports/Reports_PDF_Monthly/build/
/Reports/Reports_PDF_Monthly/Reports/
/Reports/Reports_PDF_Weekly/dist/
/Reports/Reports_PDF_Weekly/build/
/Reports/Reports_PDF_Weekly/Reports/