/Team1_Db/TestApp/dist/
/Integrated Project/Gauteng MMS/dist/
/Integrated Project/Gauteng MMS/build/
/Reports/Reports_Excel/dist/
/Reports/Reports_Excel/build/
/Reports/Reports_PDF/dist/
/Reports/Reports_PDF/build/